@media screen and (min-width: 767px) {

    .troisd {
        margin: 4em 12em 10em 12em;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .trois-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        justify-content: space-between;
        margin: 0 0 .5em 0;
    }

    .trois-container>article {
        width: 100%;
    }

    .trois-container>article>p {
        text-align: center;
        padding: 2em;
    }

    .img {
        border-radius: 2em;
        height: 20em;
        margin: .75em;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .img>img {
        width: 23vw;
        margin: 0 0 -1em 0;
    }

    .backgrnd1 {
        background: linear-gradient(to right top, #23bbba, #beec82, transparent);
        overflow: hidden;
    }

    .backgrnd2 {
        background: black;
        overflow: hidden;
        border: black solid 2px;
    }

    .backgrnd3 {
        background: linear-gradient(to right top, #010205, transparent);
        overflow: hidden;
    }

    .backgrnd3>img {
        transform: scale(1.6);
    }

    .backgrnd4 {
        overflow: hidden;
        background: linear-gradient(to top, #0d0a05, black);
    }

}

@media screen and (max-width: 767px) {

    .troisd {
        margin: 4em 1em 10em 1em;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .troisd>h3 {
        margin-top: 3em;

        font-size: 2em;
        text-align: center;
    }

    .trois-container {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        align-items: center;
        justify-content: space-between;
        margin: 0 0 .5em 0;
    }

    .trois-container>article {
        width: 100%;
    }

    .trois-container>article>p {
        text-align: center;
        padding: 1em;
    }

    .img {
        border-radius: 2em;
        height: 20em;
        margin: .75em;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .img>img {
        width: 100%;
        margin: 0 0 -1em 0;
    }

    .backgrnd1 {
        background: linear-gradient(to right top, #23bbba, #beec82, transparent);
        overflow: hidden;
    }

    .backgrnd2 {
        background: black;
        overflow: hidden;
        border: black solid 2px;
    }

    .backgrnd3 {
        background: linear-gradient(to right top, #010205, transparent);
        overflow: hidden;
    }

    .backgrnd3>img {
        transform: scale(1.6);
    }

    .backgrnd4 {
        overflow: hidden;
        background: linear-gradient(to top, #0d0a05, black);
    }
}