@font-face {
    font-family: "regular";
    src: url(../medias/fonts/Rubik-Regular.ttf);
}

@font-face {
    font-family: "bold";
    src: url(../medias/fonts/Rubik-Bold.ttf);
}

@font-face {
    font-family: "script";
    src: url(../medias/fonts/Beauty\ and\ the\ Beast\ Sample.ttf);
}

body {
    background: #141414;
}

* {
    font-family: "regular";
    color: white;
    margin: 0;
}

a {
    text-decoration: none;
}


html {
    scroll-behavior: smooth;
}

iframe {
    border-radius: 10px;
    box-shadow: inset 11px 11px 22px #080808,
            inset -11px -11px 22px #202020;
}

@media (min-width: 1280px) {

    /******************************HEADER*****************************/
    .blanc {
        position: absolute;
        display: flex;
        flex-direction: row;
        justify-content: center;

        width: 100%;
        height: 15%;
        top: 0;

        z-index: 9;
    }

    header {
        background: #141414;
        ;
        border-radius: 25px;
        box-shadow:  11px 11px 22px #080808,
             -11px -11px 22px #202020;

        position: absolute;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        width: 94%;
        top: 1rem;
        left: auto;
        padding: 1rem 0rem 1rem 0rem;

        z-index: 10;
    }

    header>a>img {
        margin-left: 4rem;
        width: 4rem;
    }

    .onglets {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        width: 25%;
        margin-right: 4rem;
    }

    .onglets>a {
        font-size: 1rem;
    }

    .onglets>a:hover {
        color: white;
        background: linear-gradient(to right, #2362AE, #028DBB, #00ABBC);
        border-radius: 25px;
        padding: 0.5rem;

        transition: 0.25s;
    }

    .onglets>a:not(:hover) {
        transition: 0.25s;
    }

    /***************************CONTENU*******************************/
    .moi {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        margin-top: 8rem;
        margin-bottom: 5rem;
    }

    .qui {
        font-size: 1rem;
        text-align: left;
        margin-bottom: 15rem;
    }

    .qui>a>img {
        width: 3.5rem;
        opacity: 0.9;
        margin-left: 2rem;
    }

    .qui>a {
        display: flex;
        flex-direction: row;
        align-items: center;

        font-family: "bold";
    }

    .qui>p {
        font-family: "bold";
    }

    /******************************FOOTER*****************************/
    /*FOOTER*/
    .blanc2 {
        display: flex;
        flex-direction: row;
        justify-content: center;

        width: 100%;
        height: 15%;

        z-index: 9;
    }

    footer {
        background: #141414;
        ;
        border-radius: 25px;
        box-shadow:  11px 11px 22px #080808,
             -11px -11px 22px #202020;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        width: 94%;
        height: 4rem;
        margin-bottom: 3rem;
        padding: 1rem 0rem 1rem 0rem;

        z-index: 10;
    }

    footer>a>img {
        width: 3rem;
        margin-right: 4rem;
    }

    footer>p:nth-of-type(2) {
        padding-right: 10rem;
    }

    footer>p:nth-of-type(1) {
        margin-left: 4rem;
    }
}


@media (max-width: 768px) {

    /******************************HEADER*****************************/
    .blanc {
        position: absolute;
        display: flex;
        flex-direction: row;
        justify-content: center;

        width: 100%;
        height: 15%;
        top: 0;

        z-index: 9;
        margin: 0;
    }

    header {
        background: #141414;
        ;
        border-radius: 25px;
        box-shadow:  11px 11px 22px #080808,
             -11px -11px 22px #202020;

        position: absolute;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        width: 94%;
        top: 1rem;
        left: auto;
        padding: 1rem 0rem 1rem 0rem;

        z-index: 10;
    }

    header>a>img {
        margin-left: 1rem;
        width: 4rem;
    }

    .onglets {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        width: 48%;
        margin-right: 1rem;
    }

    .onglets>a {
        font-size: 1rem;
    }

    .onglets>a:nth-of-type(1) {
        display: none;
    }

    .onglets>a:hover {
        text-decoration: underline;
    }

    /***************************CONTENU*******************************/
    .moi {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        margin-top: 8rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .qui {
        font-size: 1rem;
        text-align: justify;
        margin-bottom: 3rem;

        width: 100%
    }

    .qui>a>img {
        width: 3.5rem;
        opacity: 0.9;
        margin-left: 2rem;
    }

    .qui>a {
        display: flex;
        flex-direction: row;
        align-items: center;

        font-family: "bold";
    }

    .qui>p {
        font-family: "bold";
    }

    iframe {
        width: 100%;
        height: 28rem;

        margin-bottom: 3rem;
    }

    /******************************FOOTER*****************************/
    /*FOOTER*/
    .blanc2 {
        display: flex;
        flex-direction: row;
        justify-content: center;

        width: 100%;
        height: 15%;

        z-index: 9;
    }

    footer {
        background: #141414;
        ;
        border-radius: 25px;
        box-shadow:  11px 11px 22px #080808,
             -11px -11px 22px #202020;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        width: 94%;
        height: 3rem;
        margin-bottom: 1rem;
        padding: 1rem 0rem 1rem 0rem;

        z-index: 10;
    }

    footer>a>img {
        width: 3rem;
        margin-right: 1rem;
    }

    footer>p:nth-of-type(2) {
        display: none;
    }

    footer>p:nth-of-type(1) {
        margin-left: 1rem;
    }
}