@font-face {
    font-family: "light";
    src: url(../medias/fonts/Lato-Light.ttf);
}

@font-face {
    font-family: "regular";
    src: url(../medias/fonts/Lato-Regular.ttf);
}

@font-face {
    font-family: "bold";
    src: url(../medias/fonts/Lato-Bold.ttf);
}

@font-face {
    font-family: "black";
    src: url(../medias/fonts/Lato-Black.ttf);
}


/***************************************ALL********************************************/
* {
    color: whitesmoke;
    font-family: "light";
    /*cursor: none;*/
}

body {
    margin: 0;
    background: linear-gradient(to top right, rgb(25, 25, 25), black);
    background-attachment: fixed;

    width: 100%;
    height: 100%;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar {

    display: none;

}


/****************************************SCROLL SNAP****************************************/
/*effet pour réaliser "l'aimant" à chaque slide */
html {
    scroll-snap-type: both proximity;
    scroll-behavior: smooth;
}

html section {
    scroll-snap-align: start;
}

.scroll {
    position: fixed !important;
    width: calc(540px * 2.5 / 4) !important;
    height: calc(540px * 1.5 / 4) !important;
    top: 5vh !important;
    right: 5% !important;
}

/***************************************HEADER********************************************/

/***************************************MENU********************************************/
nav {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    bottom: 3rem;
    left: 35%;
    right: 35%;
    width: 30%;

    z-index: 100;
}

nav>a {
    font-family: "light";
    text-decoration: none;

    display: inline-block;
}

.hover::after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background: whitesmoke;
    transition: width .5s;
}

.hover:hover::after {
    width: 100%;
    transition: width .5s;
}


/***************************************CONTENU********************************************/

section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
section>article>p{
    text-align: center;
}

h1 {
    font-size: 1.5rem;
    letter-spacing: 2rem;
    position: absolute;
    top: 3rem;
    text-align: center;
    width: 100%;
}

h1:hover {
    letter-spacing: 2.5rem;
    transition: .5s;
}

h1:not(:hover) {
    transition: .5s;
}

.slide0 {
    background: linear-gradient(to top right, rgb(25, 25, 25), rgb(0, 0, 0));
    background-attachment: fixed;
}

.logo{
    width: 5%;
    margin: 1% 47.5% 0 47.5%;
}
.logo:hover{
    transform: scale(1.2);
    transition: .5s;
}
.logo:not(:hover){
    transition: .5s;
}