@font-face {
    font-family: "light";
    src: url(../medias/fonts/Lato-Light.ttf);
}

@font-face {
    font-family: "regular";
    src: url(../medias/fonts/Lato-Regular.ttf);
}

@font-face {
    font-family: "bold";
    src: url(../medias/fonts/Lato-Bold.ttf);
}

@font-face {
    font-family: "black";
    src: url(../medias/fonts/Lato-Black.ttf);
}


/***************************************ALL********************************************/
* {
    color: whitesmoke;
    font-family: "light";
    /*cursor: none;*/
}

html {
    scroll-behavior: smooth
}

body {
    margin: 0;
    background: linear-gradient(to top right, rgb(25, 25, 25), black);
    background-attachment: fixed;

    width: 100%;
    height: 100%;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar {

    display: none;

}

/***************************************HEADER********************************************/

/***************************************MENU********************************************/
nav {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    bottom: 3rem;
    left: 35%;
    right: 35%;
    width: 30%;

    z-index: 100;
}

nav>a {
    font-family: "light";
    text-decoration: none;

    display: inline-block;
    mix-blend-mode: difference;
}


.hover::after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background: whitesmoke;
    transition: width .5s;
}

.hover:hover::after {
    width: 100%;
    transition: width .5s;
}

/***************************************CONTENU********************************************/
h1 {
    font-size: 1.5rem;
    letter-spacing: 0.5rem;
    position: absolute;
    top: 3rem;
    text-align: center;
    width: 100%;
}

h1:hover {
    letter-spacing: 1rem;
    transition: .5s;
}

h1:not(:hover) {
    transition: .5s;
}

.contenu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    margin: 10rem 0 10rem 0;
}

.contenu>h1 {
    font-family: "light";
    margin: 2rem;
    font-size: 2rem;
}

.contenu>p {
    text-align: center;
    width: 60%;
    margin: 2rem;
    font-size: 1.25rem;
}

.contenu>img {
    width: 60vw;
    margin: 2rem;
}

.contenu>p>a {
    font-family: "regular";
    text-decoration: underline;
    font-size: 1.25rem;
}

.contenu>h1>a {
    font-family: "regular";
    text-decoration: underline;
}

.contenu>h1:last-of-type {
    font-size: 1.5rem;
    margin-top: 5rem;
}