@font-face {
    font-family: "regular";
    src: url(../medias/fonts/Rubik-Regular.ttf);
}

@font-face {
    font-family: "bold";
    src: url(../medias/fonts/Rubik-Bold.ttf);
}

@font-face {
    font-family: "script";
    src: url(../medias/fonts/Beauty\ and\ the\ Beast\ Sample.ttf);
}

body {
    background-color: #e0e0e0;
}

* {
    font-family: "regular";
    color: rgb(24, 28, 54);
    margin: 0;
}

a {
    text-decoration: none;
}


html {
    scroll-behavior: smooth;
}

iframe {
    border-radius: 10px;
    box-shadow: 10px 10px 20px #cccccc,
        -10px -10px 20px #ffffff;
}

/******************************HEADER*****************************/
.blanc {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;

    width: 100%;
    height: 15%;
    top: 0;

    z-index: 9;
    margin: 0;
}

header {
    background-color: #e0e0e0;
    ;
    border-radius: 25px;
    box-shadow: 10px 10px 20px #cccccc,
        -10px -10px 20px #ffffff;

    position: absolute;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 94%;
    top: 1rem;
    left: auto;
    padding: 1rem 0rem 1rem 0rem;

    z-index: 10;
}

header>a>img {
    margin-left: 4rem;
    width: 4rem;
}

.onglets {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 25%;
    margin-right: 4rem;
}

.onglets>a {
    font-size: 1rem;
}

.onglets>a:hover {
    text-decoration: underline;
}

/***************************CONTENU*******************************/
.iframe {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    margin-top: 10rem;
    margin-bottom: 5rem;

    border-radius: 39px;
    box-shadow: inset 5px 5px 10px #bebebe,
        inset -5px -5px 10px #ffffff;

    margin: 10rem 3.5rem 5rem 3.5rem;
    padding: 2rem;
}

.qui {
    font-size: 1rem;
    text-align: left;
    margin-bottom: 15rem;
}

.qui>a>img {
    width: 3.5rem;
    opacity: 0.9;
    margin-left: 2rem;
}

.qui>a {
    display: flex;
    flex-direction: row;
    align-items: center;

    font-family: "bold";
}

.qui>p {
    font-family: "bold";
}

/******************************FOOTER*****************************/
/*FOOTER*/
.blanc2 {
    display: flex;
    flex-direction: row;
    justify-content: center;

    width: 100%;
    height: 15%;

    z-index: 9;
}

footer {
    background-color: #e0e0e0;
    ;
    border-radius: 25px;
    box-shadow: 10px 10px 20px #cccccc,
        -10px -10px 20px #ffffff;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 94%;
    height: 4rem;
    margin-bottom: 3rem;
    padding: 1rem 0rem 1rem 0rem;

    z-index: 10;
}

footer>a>img {
    width: 3rem;
    margin-right: 4rem;
}

footer>p:nth-of-type(2) {
    padding-right: 10rem;
}

footer>p:nth-of-type(1) {
    margin-left: 4rem;
}