@font-face {
    font-family: "regular";
    src: url(../medias/fonts/Rubik-Regular.ttf);
}

@font-face {
    font-family: "bold";
    src: url(../medias/fonts/Rubik-Bold.ttf);
}

@font-face {
    font-family: "script";
    src: url(../medias/fonts/Beauty\ and\ the\ Beast\ Sample.ttf);
}

body {
    background-color: #eeeeee;
}

* {
    font-family: "regular";
    color: rgb(24, 28, 54);
    margin: 0;
}

a {
    text-decoration: none;
}


html {
    scroll-behavior: smooth;
}

iframe {
    border-radius: 10px;
    box-shadow: 10px 10px 20px #cccccc,
        -10px -10px 20px #ffffff;
}

img{
    border-radius: 10px;
}

@media (min-width: 1280px) {

    /******************************HEADER*****************************/
    .blanc {
        position: absolute;
        display: flex;
        flex-direction: row;
        justify-content: center;

        width: 100%;
        height: 15%;
        top: 0;

        z-index: 9;
        margin: 0;
    }

    header {
        background-color: #eeeeee;
        ;
        border-radius: 25px;
        box-shadow: 10px 10px 20px #cccccc,
            -10px -10px 20px #ffffff;

        position: absolute;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        width: 94%;
        top: 1rem;
        left: auto;
        padding: 1rem 0rem 1rem 0rem;

        z-index: 10;
    }

    header>a>img {
        margin-left: 4rem;
        width: 4rem;
    }

    .onglets {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        width: 25%;
        margin-right: 4rem;
    }

    .onglets>a {
        font-size: 1rem;
    }

    .onglets>a:hover {
        color: white;
        background: linear-gradient(to right, #2362AE, #028DBB, #00ABBC); 
        border-radius: 25px;
        padding: 0.5rem;

        transition: 0.25s;
    }

    .onglets>a:not(:hover) {
        transition: 0.25s;
    }

    /***************************CONTENU*******************************/
    .contenu {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        margin-top: 10rem;
        margin-bottom: 5rem;

        border-radius: 39px;
        box-shadow: inset 5px 5px 10px #bebebe,
            inset -5px -5px 10px #ffffff;

        margin: 10rem 3.5rem 5rem 3.5rem;
        padding: 2rem;
    }

    .contenu>h1 {
        font-family: "bold";
        margin: 2rem;
        font-size: 2rem;
    }

    .contenu>p {
        text-align: justify;
        width: 60%;
        margin: 2rem
    }

    .contenu>img {
        width: 50rem;
        margin: 2rem;
    }

    .contenu>p>a {
        color: #028DBB;
        font-family: "bold";
        text-decoration: underline;
    }

    .contenu>h1>a {
        color: #028DBB;
        font-family: "bold";
        text-decoration: underline;
    }

    /******************************FOOTER*****************************/
    /*FOOTER*/
    .blanc2 {
        display: flex;
        flex-direction: row;
        justify-content: center;

        width: 100%;
        height: 15%;

        z-index: 9;
    }

    footer {
        background-color: #eeeeee;
        ;
        border-radius: 25px;
        box-shadow: 10px 10px 20px #cccccc,
            -10px -10px 20px #ffffff;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        width: 94%;
        height: 4rem;
        margin-bottom: 3rem;
        padding: 1rem 0rem 1rem 0rem;

        z-index: 10;
    }

    footer>a>img {
        width: 3rem;
        margin-right: 4rem;
    }

    footer>p:nth-of-type(2) {
        padding-right: 10rem;
    }

    footer>p:nth-of-type(1) {
        margin-left: 4rem;
    }
}


@media (max-width: 768px) {

    /******************************HEADER*****************************/
    .blanc {
        position: absolute;
        display: flex;
        flex-direction: row;
        justify-content: center;

        width: 100%;
        height: 15%;
        top: 0;

        z-index: 9;
        margin: 0;
    }

    header {
        background-color: #eeeeee;
        ;
        border-radius: 25px;
        box-shadow: 10px 10px 20px #cccccc,
            -10px -10px 20px #ffffff;

        position: absolute;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        width: 94%;
        top: 1rem;
        left: auto;
        padding: 1rem 0rem 1rem 0rem;

        z-index: 10;
    }

    header>a>img {
        margin-left: 1rem;
        width: 4rem;
    }

    .onglets {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        width: 48%;
        margin-right: 1rem;
    }

    .onglets>a {
        font-size: 1rem;
    }
    .onglets>a:nth-of-type(1){
        display: none;
    }

    .onglets>a:hover {
        text-decoration: underline;
    }

    /***************************CONTENU*******************************/
    .contenu {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        border-radius: 39px;
        box-shadow: inset 5px 5px 10px #bebebe,
            inset -5px -5px 10px #ffffff;

        margin: 7.5rem 1.5rem 5rem 1.5rem;
        padding: 1.5rem;
    }

    .contenu>h1 {
        font-family: "bold";
        margin: 1rem;
        font-size: 1.25rem;
    }

    .contenu>h1:nth-of-type(2){
        font-size: 1rem;
        text-align: justify;
    }

    .contenu>p {
        text-align: justify;
        width: 100%;
        margin: 1rem
    }

    .contenu>img {
        width: 100%;
        margin: 1rem;
    }

    .contenu>p>a {
        color: #028DBB;
        font-family: "bold";
        text-decoration: underline;
    }

    .contenu>h1>a {
        color: #028DBB;
        font-family: "bold";
        text-decoration: underline;
    }

    iframe{
        width: 100%;
        height: 100%;
        margin-bottom: 2rem;
    }

    /******************************FOOTER*****************************/
    /*FOOTER*/
    .blanc2 {
        display: flex;
        flex-direction: row;
        justify-content: center;

        width: 100%;
        height: 15%;

        z-index: 9;
    }

    footer {
        background-color: #eeeeee;
        ;
        border-radius: 25px;
        box-shadow: 10px 10px 20px #cccccc,
            -10px -10px 20px #ffffff;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        width: 94%;
        height: 3rem;
        margin-bottom: 1rem;
        padding: 1rem 0rem 1rem 0rem;

        z-index: 10;
    }

    footer>a>img {
        width: 3rem;
        margin-right: 1rem;
    }

    footer>p:nth-of-type(2) {
        display: none;
    }

    footer>p:nth-of-type(1) {
        margin-left: 1rem;
    }
}