@media screen and (min-width: 767px) {

    .propos {
        position: relative;

        top: 150vh;
        width: 100%;

        z-index: 10;

        padding-top: 7rem;
    }

    .pp1 {
        margin: 1rem 4rem 1rem 4rem;

        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr;
    }

    .pp-content1>h2 {
        text-align: right;
        font-family: "bold";
        font-size: 3rem;
        color: rgb(139, 139, 139);
        margin: 0;
        padding: 0rem 0 0 0;

    }

    .pp-content1>h2>span {
        color: white;
    }

    .pp-content2 {
        color: rgb(139, 139, 139);
        font-size: 1.25rem;
    }

    .pp-content2>span {
        font-family: "bold";

        color: white;
    }



    .pp2 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 6rem 4rem 0 4rem;
    }

    .pp2>div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .pp2>div>p {
        font-size: 1.25rem;
        color: white;
    }

    .pp2>div>p:hover {
        color: #fe0b45;
    }

    .pp2>div>a {
        color: white;
        font-size: 1.25rem;

    }

    .pp2>div>a:hover {
        color: #fe0b45;
    }

    .pp2>div>h2 {
        font-family: "bold";
        font-size: 3rem;
        color: rgb(139, 139, 139);
        margin: 0;
        padding: 0rem 0 0 0;
    }

    .pp2>div>h2>span {
        font-family: "bold";
        color: #fe0b45;
    }

    .reseaux {
        margin: 4rem 0 0 0;
    }

    .icon {
        display: flex;
        flex-direction: row;
        align-items: center;

        margin: 3rem 0 0 0;
    }

    .icon>a>img {
        width: 5rem;
        opacity: 0.75;
        transition: .25s;
    }

    .icon>a>img:hover {
        transform: scale(1.1);
        opacity: 1;
    }

    .icon>a:nth-of-type(2) {
        margin: 0 4rem 0 4rem;
    }

}


@media screen and (max-width: 767px) {

    .propos {
        position: relative;

        top: 85vh;
        width: 100%;

        z-index: 10;

        padding-top: 7rem;
    }

    .pp1 {
        margin: 1rem 1.5rem 1rem 1.5rem;

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
    }

    .pp-content1>h2 {
        text-align: left;
        font-family: "bold";
        font-size: 3rem;
        color: rgb(139, 139, 139);
        margin: 0;
        padding: 0rem 0 2rem 0;

    }

    .pp-content1>h2>span {
        font-family: "bold";

        color: white;
    }

    .pp-content2 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        color: rgb(139, 139, 139);
        font-size: 1.25rem;
    }

    .pp-content2>span {
        color: white;
    }

    .pp2 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 6rem 1rem 0 1rem;
    }

    .pp2>div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
    }

    .pp2>div>p {
        font-size: 1.25rem;
        color: white;
    }

    .pp2>div>p:hover {
        color: #fe0b45;
    }

    .pp2>div>a {
        color: white;
        font-size: 1.25rem;

    }

    .pp2>div>a:hover {
        color: #fe0b45;
    }

    .pp2>div>h2 {
        font-family: "bold";
        font-size: 1.5rem;
        color: rgb(139, 139, 139);
        margin: 0;
        padding: 0rem 0 0 0;
    }

    .pp2>div>h2>span {
        font-family: "bold";
        color: #fe0b45;
    }

    
    .reseaux {
        margin: 4rem 0 0 0;
    }

    .icon {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        margin: 3rem 0 0 0;
    }

    .icon>a>img {
        width: 3rem;
        opacity: 0.75;
        transition: .25s;
    }

    .icon>a>img:hover {
        transform: scale(1.1);
        opacity: 1;
    }

    .icon>a:nth-of-type(2) {
        margin: 0 2rem 0 2rem;
    }

}