@font-face {
    font-family: "light";
    src: url(../medias/fonts/Lato-Light.ttf);
}

@font-face {
    font-family: "regular";
    src: url(../medias/fonts/Lato-Regular.ttf);
}

@font-face {
    font-family: "bold";
    src: url(../medias/fonts/Lato-Bold.ttf);
}

@media screen and (min-width: 767px) {

    /****************************************ALL****************************************/
    * {
        font-family: "regular";
        color: black;
    }

    html {
        scroll-behavior: smooth;
    }

    body {
        margin: 0;
        background: black;
        overflow-x: hidden;
    }

    /****************************************HEADER****************************************/
    header {
        position: fixed;
        width: 92%;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        margin: 1.5em 4em 2em 4em;

        z-index: 20;
    }

    header>a>p {
        font-size: 1.5em;

        font-family: "bold";
        color: rgb(214, 214, 214);
        padding: 0;
        transition: .25s;
    }

    header>a {
        text-decoration: none;
    }

    header>a>p:hover {
        color: #fe0b45;
    }

    header>p {
        width: 10vw;
    }

    .contenu>p:nth-of-type(2) {
        font-family: "regular";
        color: black;
    }

    #back-img {
        position: absolute;
        z-index: -2;
        width: 50vw;
        bottom: 2.5vh;
        right: 0em;

        animation: ease-in-out levitate 5s infinite;

        filter: saturate(1.15);
    }

    nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 35em;

        border-radius: 30px;
        background: rgba(43, 43, 43, 0.8);

        padding: 0.3em;

        transition: .25s;
    }

    nav>a {
        font-family: "regular";
        text-decoration: none;
        font-size: 1em;
        color: white;

        border-radius: 25px;
        padding: 0.9em;
    }

    nav>a:hover {
        background: #fe0b45;

        color: white;
    }


    /****************************************MENU****************************************/
    /********************CASE1******************************/
    #menu {
        position: absolute;

        width: 40%;
        height: 70vh;

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;

        margin: 9em 0 0 4em;
    }

    #case1 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 3;
        background: linear-gradient(to top right, #294a82, #fe0b45);

        width: 100%;
        height: 100%;

        border-radius: 2em;


        transition: ease-in-out 0.5s;
        overflow-y: auto;
    }

    .exemple1 {
        display: flex;
        flex-direction: row;
    }

    #ex-content1 {
        display: none;
        flex-direction: column;
        color: white;
    }

    #ex-content1>h3 {
        font-family: "regular";
        color: white;
    }

    .exemple1>img {
        width: 15rem;
        margin: 1.5rem;
    }

    #all1 {
        display: none;
    }


    /********************CASE2******************************/
    #case2 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;

        background: linear-gradient(to top right, #cd1953, #fe0b45);


        width: 100%;
        height: 90%;

        border-radius: 2em;

        margin: 0 0 0 2em;

        overflow-y: auto;
    }

    #case2>div>p {
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .exemple2 {
        display: none;
        flex-direction: column;
    }

    #ex-content2 {
        display: flex;
        flex-direction: column;
        color: white;
        margin: 1.5rem;
    }

    #ex-content2>h3 {
        font-family: "regular";
        color: white;
        margin: 0 0 1em 0;
    }

    .exemple2>img {
        width: 15rem;
        margin: 1.5rem;
    }

    #all2 {
        display: none;
    }

    #case3 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;

        background: linear-gradient(to top right, #962963, #fe0b45);


        width: 100%;
        height: 100%;

        border-radius: 2em;

        margin: 0 0 0 2em;

        overflow-y: auto;
    }

    #button3 {
        font-size: 0.9em;
    }


    /*****************ALL CASE************/
    #menu>article {
        transition: 0.25s;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .buttons {
        transition: 0.25s;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }


    .contenu>h2 {
        font-size: 1.5rem;
        padding: 0;
        margin: 1.5rem;
        font-family: "bold";
        color: #ffaabe;
    }

    .contenu>p {
        margin: 1.5rem;
        color: white;
        text-align: justify;
    }

    .button {
        border: solid 0.15rem white;
        border-radius: 20px;
        background: none;
        color: white;
        font-family: "bold";
        padding: 0.5rem;
        margin: 0 1.5rem 1rem 1.5rem;
        text-decoration: none;
        text-align: center;
    }

    .button:hover {
        background: white;
        color: #fe0b45;
    }

    #close-menu1 {
        display: none;
        justify-self: flex-end;
    }

    #close-menu2 {
        display: none;
    }

    /*********************BUTTON PAGE BAS*************************/
    #go {
        position: absolute;
        top: 92vh;
        left: 47.5vw;
        text-align: center;
        text-decoration: none;
        font-size: 2rem;

        width: 5vw;
        color: white;
        transition: .25s;
    }

    #go:hover {
        color: #fe0b45;
    }

    #go:active {
        transform: scale(1.3);
        filter: drop-shadow(0 0 2rem #ffd1dc);
    }


    /*******************FOOTER***********************/
    footer {
        border-top: solid rgb(83, 83, 83) 0.1rem;
        position: relative;
        top: 180vh;
        bottom: 1em;
        color: white;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: 0em 4em 0em 4em;

        width: 91%;
    }

    footer>p {
        margin: 2em 0 2em 0;
        color: white;
    }

}


@media screen and (max-width: 767px) {

    /****************************************ALL****************************************/
    * {
        font-family: "regular";
        color: black;
    }

    img{
        width: 2rem;
    }

    html {
        scroll-behavior: smooth;
    }

    body {
        margin: 0;
        background: black;
        overflow-x: hidden;
    }

    /****************************************HEADER****************************************/
    header {
        position: fixed;
        top: 1rem;
        width: 100vw;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        z-index: 20;
    }

    .contenu>p:nth-of-type(2) {
        font-family: "regular";
        color: black;
    }

    #back-img {
        position: absolute;
        z-index: -2;
        width: 90vw;
        top: 10vh;
        right: 5vw;

        animation: ease-in-out levitate 5s infinite;

        filter: saturate(1.15);

        display: none;
    }

    nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: auto;

        border-radius: 30px;
        background: rgba(43, 43, 43, 0.95);

        padding: 0.3em;

        transition: .25s;
    }

    nav>a {
        font-family: "regular";
        text-decoration: none;
        font-size: 0.8em;
        color: white;

        border-radius: 25px;
        padding: 0.9em;
    }

    nav>a:active {
        background: #fe0b45;

        color: white;
    }

    header>a>p {
        font-size: 1em;

        font-family: "bold";
        color: rgb(214, 214, 214);
        padding: 0;
        transition: .25s;
        margin: 0 0 1em 0;
    }

    header>a {
        text-decoration: none;
    }

    header>a>p:active {
        color: #fe0b45;
    }

    header>p {
        width: 10vw;
    }



    /****************************************MENU****************************************/
    /********************CASE1******************************/
    #menu {
        position: absolute;

        width: 90vw;
        height: 75vh;

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;

        margin: 8em 1em 0 1em;
    }

    #case1 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        background: linear-gradient(to top right, #294a82, #fe0b45);

        width: 100%;

        border-radius: 2em;
        margin-bottom: 1.5rem;

        transition: ease-in-out 0.5s;
        overflow-y: auto;
    }

    .exemple1 {
        display: flex;
        flex-direction: row;
    }

    #ex-content1 {
        display: none;
        flex-direction: column;
        color: white;
    }

    #ex-content1>h3 {
        font-family: "regular";
        color: white;
    }

    .exemple1>img {
        width: 15rem;
        margin: 1.5rem;
    }
    #button1{
        display: none;
    }
    #all1 {
        display: inline-block;
    }


    /********************CASE2******************************/
    #case2 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;

        background: linear-gradient(to top right, #cd1953, #fe0b45);


        width: 100%;
        height: 100%;

        border-radius: 2em;


        overflow-y: auto;
    }

    #case2>div>p {
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .exemple2 {
        display: none;
        flex-direction: column;
    }

    #ex-content2 {
        display: flex;
        flex-direction: column;
        color: white;
        margin: 0.5rem;
    }

    #ex-content2>h3 {
        font-family: "regular";
        color: white;
        margin: 0 0 1em 0;
    }

    .exemple2>img {
        width: 15rem;
        margin: 0.5rem;
    }
    #button2{
        display: none;
    }
    #all2 {
        margin: 0em 1em 1rem 1em;
        display: inline-block;
    }

    #case3 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;

        background: linear-gradient(to top right, #962963, #fe0b45);


        width: 90%;
        height: 100%;

        border-radius: 2em;

        justify-self: flex-end;
        overflow-y: auto;
    }

    #button3 {
        font-size: 0.9em;
    }


    /*****************ALL CASE************/
    #menu>article {
        transition: 0.25s;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .buttons {
        transition: 0.25s;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }


    .contenu>h2 {
        font-size: 1.5rem;
        padding: 0;
        margin: 1rem;
        font-family: "bold";
        color: #ffaabe;
    }

    .contenu>p {
        margin: 1rem;
        color: white;
        text-align: justify;
    }

    .button {
        border: solid 0.15rem white;
        border-radius: 20px;
        background: none;
        color: white;
        font-family: "bold";
        padding: 0.5rem;
        margin: 0 1rem 1rem 1rem;
        text-decoration: none;
        text-align: center;
    }

    .button:hover {
        background: white;
        color: #fe0b45;
    }

    #close-menu1 {
        display: none;
        justify-self: flex-end;
    }

    #close-menu2 {
        display: none;
    }



    /*********************BUTTON PAGE BAS*************************/
    #go {
        position: absolute;
        top: 93vh;
        left: 47.5vw;
        text-align: center;
        text-decoration: none;
        font-size: 2rem;

        width: 5vw;
        color: white;
        transition: .25s;
    }

    #go:hover {
        color: #fe0b45;
    }

    #go:active {
        transform: scale(1.3);
        filter: drop-shadow(0 0 2rem #ffd1dc);
    }

     /*******************FOOTER***********************/
     footer {
        border-top: solid rgb(83, 83, 83) 0.1rem;
        position: relative;
        top: 100vh;
        bottom: 1em;
        color: white;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: 0em 1em 0em 1em;

        width: 90vw;
    }

    footer>p {
        font-size: 0.8rem;
        margin: 2em 0 2em 0;
        color: white;
    }
}

