@font-face {
    font-family: "regular";
    src: url(../medias/fonts/Rubik-Regular.ttf);
}

@font-face {
    font-family: "bold";
    src: url(../medias/fonts/Rubik-Bold.ttf);
}

@font-face {
    font-family: "script";
    src: url(../medias/fonts/Beauty\ and\ the\ Beast\ Sample.ttf);
}

body {
    background-color: #e0e0e0;
    margin: 0;
}

* {
    font-family: "regular";
    color: rgb(24, 28, 54);

}

a {
    text-decoration: none;
}


html {
    scroll-behavior: smooth;
}

/******************************HEADER*****************************/
.blanc {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;

    width: 100%;
    height: 15%;
    top: 0;

    z-index: 9;
}

header {
    background-color: #e0e0e0;

    border-radius: 25px;
    box-shadow: 10px 10px 20px #cccccc,
        -10px -10px 20px #ffffff;

    position: absolute;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 94%;
    top: 1rem;
    left: auto;
    padding: 1rem 0rem 1rem 0rem;

    z-index: 10;
}

header>a>img {
    margin-left: 4rem;
    width: 4rem;
}

.onglets {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 46%;
    margin-right: 4rem;
}

.onglets>a {
    font-size: 1rem;
}

.onglets>a:hover {
    text-decoration: underline;
}

/******************************PESENTATION*****************************/
.presentation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    margin: 14rem 0 0 0;
}

.presentation>img {
    width: 10rem;
}

.presentation>p {
    text-align: center;
}

.presentation>p:first-of-type {
    font-family: "bold";
    font-size: 2rem;

    background: -webkit-linear-gradient(left, #2362AE, #028DBB, #00ABBC);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    margin: 2rem 0 2rem 0;
}

.decouvrir {
    width: 15%;
    position: absolute;

    top: 42rem;
    left: 4rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.decouvrir>img {
    width: 3rem;
}

/******************************MODELISATION*****************************/

.section1 {
    margin: 24rem 8rem 0rem 8rem;

    height: 20rem;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.ala1 {
    position: absolute;
    top: 52rem;

    width: 100%;
    text-align: center;
    font-family: "bold";
}

.une {
    border-radius: 39px;
    box-shadow: inset 5px 5px 10px #bebebe,
        inset -5px -5px 10px #ffffff;

    color: white;
    font-family: "bold";
    font-size: 3rem;
    width: 45rem;
    height: 100%;

    background-image: url(../medias/images/3D/deep_sleep/houses3.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.une:hover {
    transition: 0.5s;

    filter: grayscale(1);
}

.section1>article{
    width: 30rem;
    text-align: justify;
    margin-right: 4rem;
}

.section1>article>h1{
    font-size: 2rem;
    font-family: "bold";
}

/*MODELISATION*/
.modelisation3d {
    position: absolute;
    top: 86rem;

    width: 100%;
    text-align: center;
    font-family: "bold";
}

.contenus3d {
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 1fr 0.5fr;
    grid-template-rows: 1fr 1fr;

    margin-top: 12.5rem;
}

.contenus3d>a {
    width: 25rem;
    height: 15rem;
    margin: 1rem;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;


    color: white;
    font-family: "bold";
    font-size: 0;

    border-radius: 10px;
}

.contenus3d>a:hover {
    transition: 0.25s;

    filter: grayscale(1);
    box-shadow: 10px 10px 20px #ffffff,
        -10px -10px 20px #ffffff;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    color: white;
    font-family: "bold";
    font-size: 1.5rem;
}

.contenus3d>a:not(:hover) {
    transition: 0.25s;
}

.image1 {
    background-image: url(../medias/images/3D/delorean_insta_1.png);
    background-size: cover;
    background-position: center;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

.image2 {
    background-image: url(../medias/images/3D/insta_delorean_b2f.png);
    background-size: cover;
    background-position: center;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
}

.image3 {
    background-image: url(../medias/images/3D/super_charger_insta.png);
    background-size: cover;
    background-position: center;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}


.image4 {
    background-image: url(../medias/images/3D/rendu_instagram.png);
    background-size: cover;
    background-position: center;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
}

.image5 {
    background-image: url(../medias/images/3D/link2.png);
    background-size: cover;
    background-position: center;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

.image6 {
    background-image: url(../medias/images/3D/link1_scene.jpg);
    background-size: cover;
    background-position: center;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

/******************************Adobe*****************************/
/*Adobe*/

.adobe {
    position: absolute;
    top: 127.5rem;

    width: 100%;
    text-align: center;
    font-family: "bold";
}

.creation_adobe {
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 1fr 0.5fr;
    grid-template-rows: 1fr 1fr;

    margin-top: 8rem;
}

.creation_adobe>a {
    width: 25rem;
    height: 15rem;
    margin: 1rem;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;


    color: white;
    font-family: "bold";
    font-size: 0;

    border-radius: 10px;
}

.creation_adobe>a:hover {
    transition: 0.25s;

    filter: grayscale(1);
    box-shadow: 10px 10px 20px #ffffff,
        -10px -10px 20px #ffffff;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    color: white;
    font-family: "bold";
    font-size: 1.5rem;
}

.creation_adobe>a:not(:hover) {
    transition: 0.25s;
}

.image1_1 {
    background-image: url(../medias/images/illustrator/tqg.PNG);
    background-size: cover;
    background-position: center;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.image2_1 {
    background-image: url(../medias/images/illustrator/MockupOrigami.jpg);
    background-size: cover;
    background-position: center;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

.image3_1 {
    background-image: url(../medias/images/illustrator/MockupOwlcrea.jpg);
    background-size: cover;
    background-position: center;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
}


.image4_1 {
    background-image: url(../medias/images/illustrator/Carte_Sombre.jpg);
    background-size: cover;
    background-position: center;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.image5_1 {
    background-image: url(../medias/images/photoshop/info_duquoc_final.jpg);
    background-size: cover;
    background-position: center;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

.image6_1 {
    background-image: url(../medias/images/illustrator/dossier_client-08.png);
    border: rgb(24, 28, 54) solid 0.08rem;
    background-size: cover;
    background-position: center;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
}

/******************************Audio*****************************/
/*Audio*/

.audio {
    position: absolute;
    top: 170rem;

    width: 100%;
    text-align: center;
    font-family: "bold";
}

.audiovisu1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    margin: 8rem 4rem 4rem 4rem;
}

.audiovisu2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    margin: 0 4rem 4rem;
}

.audiovisu>article {
    width: 25rem;
    height: 15rem;
    margin: 1rem;
}

iframe {
    border-radius: 10px;

}

/******************************FOOTER*****************************/
/*FOOTER*/
.blanc2 {
    display: flex;
    flex-direction: row;
    justify-content: center;

    width: 100%;
    height: 15%;

    z-index: 9;
}

footer {
    background-color: #e0e0e0;
    ;
    border-radius: 25px;
    box-shadow: 10px 10px 20px #cccccc,
        -10px -10px 20px #ffffff;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 94%;
    height: 4rem;
    margin-bottom: 3rem;
    padding: 1rem 0rem 1rem 0rem;

    z-index: 10;
}

footer>a>img {
    width: 3rem;
    margin-right: 4rem;
}

footer>p:nth-of-type(2) {
    padding-right: 10rem;
}

footer>p:nth-of-type(1) {
    margin-left: 4rem;
}