/*FENETRE VERIFICATION*/
#code{
    width: 100vw;
    height: 100vh;
    font-size: 1.5rem;

    position: absolute;
    top: -110vh;
    opacity: 0;

    background: rgba(0, 0, 0, 0.9);
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
    justify-content: center;
    z-index: 150;

    transition: .5s;
}

#codeNone {
    position: absolute;
    top: 5vh;

    color: white;
    background: none;

    border: none;
    font-size: 1.5rem;
}
#codeNone:hover {
    transform: scale(1.2);
    color: #50B8FF;
}
/*CHAMP DE CODE*/
#number{
    background: #b9b9b950;
    border-radius: 5px;
    font-size: 1.5rem;
    border: none;

    padding: 0.5rem;
    margin: 0.5rem;
    text-align: center;
    outline-style: none;
}

/*CODE DE VERFI*/
#verif{
    display: none;
}

/*BOUTON VALIDE*/
#valid{
    color: white;
    background: none;

    border: 0.1rem solid white;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    margin: 1rem;
    margin-top: 1rem;
    padding: .75rem;
}
#valid:hover{
    background: white;
    border: none;
    color: black;

    background-position: -10vh;
    transition: .25s;
}
#valid:not(:hover){
    transition : 0.25s;
}


/*LANCEMENT*/
#run{
    color: #50B8FF;
    background: none;

    position: absolute;
    bottom: 2vh;

    border: 0.1rem solid white;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    font-size: 1.5rem;
    margin: 1rem;
    padding: .75rem;

    opacity: 0;
    display: none;
}
#run:hover{
    background: white;
    border: none;
    color: black;

    background-position: -10vh;
    transition: .25s;
}
#run:not(:hover){
    transition : 0.25s;
}