@font-face {
    font-family: "regular";
    src: url(../medias/fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: "bold";
    src: url(../medias/fonts/Montserrat-Bold.ttf);
}


/*ALL*/
* {
    font-family: sans-serif;
    font-family: "regular";
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;

    overflow-x: hidden;
    overflow-y: hidden;
}

/****************HEADER*****************/
header{
    position: absolute;
    top: 0;
    width: 96vw;
    padding: 2vw;
    border-bottom: 0.1rem solid white;

    z-index: 125;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    color: rgb(255, 255, 255)!important;

    background-color: #000000;
}
header>a{
    margin: 0 1rem 0 1rem;
    color: rgb(255, 255, 255);
}
header>a:hover{
    color: #50B8FF;
}



/****************ACCES*****************/


.proto1{
    position: absolute;

    top: 0;
    left: 0;
    height: 100vh;
    width: 50vw;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    background: #036093;
    transition: .5s;

    background-position: center;
    background-size: cover;
    
    z-index: 100;
}
.proto1{
    background: url(../medias/proto1.png);
    background-position: center;
    background-size: cover;  
    filter: grayscale(1);
}
.proto1:hover{
    filter: none;
}

.proto2{
    position: absolute;

    bottom: 0;
    right: 0;
    height: 100vh;
    width: 50vw;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    background: #50B8FF;
    transition: .5s;

    background-position: center;
    background-size: cover;

    z-index: 100;
}
.proto2{
    background: url(../medias/proto2.png);
    background-position: center;
    background-size: cover;
    filter: grayscale(1);
}
.proto2:hover{
    filter: none;
}

article>a{
    text-transform: uppercase;
    font-family: "bold";
    text-decoration: underline;
    text-align: center;
    font-size: 2rem;

    color: white;
}
article>a:hover{
    color: #50B8FF;
}








/****************CODE*****************/

/*FENETRE VERIFICATION*/
#code{
    width: 100vw;
    height: 100vh;
    font-size: 1.5rem;

    position: absolute;
    top: 0vh;
    opacity: 1;

    background: #013b5a;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
    justify-content: center;
    z-index: 150;

    transition: .5s;

    color: white;
}

#codeNone {
    position: absolute;
    top: 5vh;

    color: white;
    background: none;

    border: none;
    font-size: 1.5rem;
}
#codeNone:hover {
    transform: scale(1.2);
    color: #50B8FF;
}
/*CHAMP DE CODE*/
#number{
    background: #50b8ff;
    border-radius: 15px;
    font-size: 1.5rem;
    border: none;

    padding: 0.5rem;
    margin: 0.5rem;
    margin-bottom: 1rem;
    text-align: center;
    outline-style: none;

    color: white;
}

/*CODE DE VERFI*/
#verif{
    display: none;
}

/*BOUTON VALIDE*/
#valid{
    color: white;
    background: none;

    border: 0.1rem solid white;
    padding: 0.5rem;
    border: none;
    border-radius: 15px;
    font-size: 1rem;
    margin: 1rem;
    margin-top: 1rem;
    padding: .75rem;
}
#valid:hover{
    background: #50b8ff;
    border: none;
    color: rgb(255, 255, 255);

    background-position: -10vh;
}



/*LANCEMENT*/
#run{
    color: #50B8FF;
    background: none;

    position: absolute;
    bottom: 2vh;

    border: 0.1rem solid white;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    font-size: 1.5rem;
    margin: 1rem;
    padding: .75rem;

    opacity: 0;
    display: none;
}
#run:hover{
    background: white;
    border: none;
    color: black;

    background-position: -10vh;
    transition: .25s;
}
#run:not(:hover){
    transition : 0.25s;
}