#jeu-n1 {
    background: #101010cc;
    position: absolute;
    width: 100vw;
    height: 100vh;

    opacity: 0;
    transition: 0.5s;

    left: 0;
    top: -110vh;
}

#jeu-n1>article {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    width: 80vw;
    margin: 0 10vw 0 10vw;
}

#jeu-n2 {
    background: #101010cc;
    position: absolute;
    width: 100vw;
    height: 100vh;

    opacity: 0;
    transition: 0.5s;

    left: 0;
    top: -110vh;
}

#jeu-n2>article {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    width: 80vw;
    margin: 0 10vw 0 10vw;
}

#jeu-n3 {
    background: #101010cc;
    position: absolute;
    width: 100vw;
    height: 100vh;

    opacity: 0;
    transition: 0.5s;

    left: 0;
    top: -110vh;
}


#id{
    background: none;
    border: 0.1rem dashed rgb(92, 92, 92);
    outline-style: none;
    color: black;
    padding: 0.25rem;
    margin: 0.5rem 0 1.5rem 0;
}

#jeu-n3>article {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    width: 80vw;
    margin: 0 10vw 0 10vw;
}

.audio {
    display: flex;
    flex-direction: column;

    width: 40vw;
}

.audio>p {
    margin: 0 0 6rem 0;
    text-align: justify;
}
.audio>h1{
    color: #50B8FF;
}

.questions {
    background-image: url(../../medias/images/feuille.jpg);
    background-size: cover;
    border-radius: 5px;

    padding: 2rem 0 2rem 0;
    width: 35vw;
}

form {
    margin: 0 3rem 0 3rem;
}

form>label {
    color: black;
}
form>input {
    color: black;
    margin: 1rem;
}
form>p:first-of-type {
    margin: 0rem 0 1rem 0;
}
form>p {
    color: black;
    margin: 2rem 0 1rem 0;
}
form>textarea {
    resize: none;
    background: none;
    border: 0.1rem dashed rgb(92, 92, 92);
    color: black;
    outline-style: none;

    padding: 0.25rem;
    width: 90%;
    height: 5rem;
}
form>h2{
    color: black;
    margin: 0 0 1.5rem 0;
    text-decoration: underline;
}

#envoyer {
    border: solid black 0.1rem;
    background: none;

    margin: 1rem 0 0 0;
    padding: 0.5rem;
    border-radius: 5px;
}

#envoyer:hover {
    background-color: #50B8FF;
    border: solid #50B8FF 0.1rem;

    color: white;
}

audio{
    background: #50B8FF;
}

/*PERSO CHECKBOX*/

input[type="checkbox"].identi {
    display: none;
}

input[type="checkbox"].identi+label {
    padding: 0.3rem 0.5rem;
    border: 0.1rem dashed rgb(92, 92, 92);
    display: inline-block;
    margin: 0 0.5rem 0.5rem 0; 
}

input[type="checkbox"].identi:checked+label {
    border: 0.1rem solid #50B8FF;
}

/*PERSO RADIO*/

input[type="radio"].lieu {
    display: none;
}

input[type="radio"].lieu+label {
    padding: 0.3rem 0.5rem;
    border: 0.1rem dashed rgb(92, 92, 92);
}

input[type="radio"].lieu:checked+label {
    border: 0.1rem solid #50B8FF;
}


/*BULLES VICTOIRES*/
#bulle-jeu-ok1:hover{
    opacity: 1 ;
    z-index: 350;
    bottom : 2vh !important;
}

#bulle-jeu-ok1 {
    position: absolute;

    background-image: url(../../medias/images/feuille.jpg);
    background-size: cover;

    border-radius: 5px;

    padding: 2rem;
    margin: 0;
    bottom: -50vh ;
    right: 8vw;
    height: 15vh;
    width: 5vw;

    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    transition: 0.25s;
    opacity: 1;

    z-index: 300;

    border: solid 0.2rem #000000;
}

/*BULLES VICTOIRES*/
#bulle-jeu-ok2:hover{
    opacity: 1 ;
    z-index: 350;
    bottom : 2vh !important;
}

#bulle-jeu-ok2 {
    position: absolute;

    background-image: url(../../medias/images/feuille.jpg);
    background-size: cover;

    border-radius: 5px;

    padding: 2rem;
    margin: 0;
    bottom: -50vh ;
    right: 14vw;
    height: 15vh;
    width: 5vw;

    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    transition: 0.25s;
    opacity: 1;

    z-index: 300;

    border: solid 0.2rem #000000;
}

/*BULLES VICTOIRES*/
#bulle-jeu-ok3:hover{
    opacity: 1 ;
    bottom : 2vh !important;
    z-index: 350;
}

#bulle-jeu-ok3 {
    position: absolute;

    background-image: url(../../medias/images/feuille.jpg);
    background-size: cover;

    border-radius: 5px;

    padding: 2rem;
    margin: 0;
    bottom: -50vh ;
    right: 20vw;
    height: 15vh;
    width: 5vw;

    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    transition: 0.25s;
    opacity: 1;

    z-index: 300;

    border: solid 0.2rem #000000;
}